Yolo DS To Qwen DS/Finetuned LoRA model/V1 26-08-2025 Qwen 2.5vl_7b/base_model/model.safetensors
Yolo DS To Qwen DS/Finetuned LoRA model/V1 26-08-2025 Qwen 2.5vl_7b/lora_model/adapter_model.safetensors
